<% provide :title, t(".about") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
  </head>
  <body>
    <h1><%= t ".about" %></h1>
    <p><%= t ".about_us" %></p>
    <%= t ".group_members" %>
    <li> Do Hong Son - SE03775 </li>
    <li> Nguyen Van Luc - SE03901 </li>
    <li> Nguyen Chi Cuong - SE03825 </li>
  </body>
</html>
