<div class="col-md-12 text-center"><%= image_tag images[0], class: "cover-image" %></div>
<div class="col-md-12">
  <br>
</div>
<div class="list-photos">
    <%= render partial: "photos", collection: images, as: :photo %>
</div>
