@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);
@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
  width: 100%;
  height: 100%;
}

$gray-medium-light: #eaeaea;

body{
  font-family: "Roboto Slab", sans-serif;
  padding-top: 60px;
}

hr{
  max-width: 80px;
  border-width: 3px;
  opacity: 0.09;
  margin-top: 15px;
  margin-bottom: 15px;
}

hr.light{
  border-color: #fff;
}

a{
  color: #9c27b0;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus{
    color: #9c27c1;
    outline: 0;
  }
}


h1, h2, h3, h4, h5, h6{
  font-family: "Roboto Slab", sans-serif;
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p{
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
}

section{
  padding: 70px 0;
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center{
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}

aside{
  padding: 50px 0;
}

footer{
  margin-top: 350px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a{
    color: $gray;
    &:hover{
      color: $gray-darker;
    }
  }
  small{
    float: left;
  }
  ul{
    float: right;
    list-style: none;
    li{
      float: left;
      margin-left: 15px;
    }
  }
}

header{
  position: relative;
  min-height: 110px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  background-color: black;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .header-top{
  background-color: #333333;
  height: 30px;
}

header .header-bot{
  height: 70px;
}

header .header-top-content li a{
  padding-top: 5px!important;
  padding-right: 50px;
}

header .header-content{
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  z-index: 2;
}

header .header-content .inner h1{
  margin-top: 0;
  margin-bottom: 0;
}

header .header-content .inner p{
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255,255,255,0.7);
}

#logo{
  float: left;
  margin-left: 68px;
  font-size: 1.7em;
  color: $gray-light;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: white;
    text-decoration: none;
  }
}

.maT35{
  margin-top: 35px;
}
