<footer class="footer">
  <small>
    <p>© <%= Date.today.year %> <%= t ".rooms_crawler" %></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), Settings.about_page_url %></li>
    </ul>
  </nav>
</footer>
